.background{
   
    background-color: rgb(86, 54, 116);
  }
  .size{
    font-size: 25px;
    
    font-weight: bold;
   
  }
  .border{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .nav-link {
    text-decoration: none;
    color:rgb(245, 243, 245);
    transition: transform 0.3s ease; 
  }


