<!-- Navbar -->
<div class="d-flex border size background sticky-top  justify-content-between">
  <div class="d-flex ms-3 my-3">
    <img src="../../../assets/oasyslogo.png" class="rounded circle img-transparent" style="width: 65px;">
    <a class="nav-link ms-3 mt-3">𝑮𝑨𝑻𝑬 𝑷𝑨𝑺𝑺 </a>
  </div>
  <ul class="nav p-3">
    <li class="nav-item">
      <a class="nav-link">𝐻𝒪𝑀𝐸</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">𝓐𝓑𝒪𝓤𝓣</a>
    </li>
  </ul>
</div>
  <!-- Navbar end -->