<app-admin-header></app-admin-header>
<div class="container-fluid">
  <div class="row">
    <!-- Navigation Column -->
    <div class="col-sm-2">
      <nav class="nav flex-column">
        <!-- Admin Menu -->
        <ul class="tree" >
          <li>
            <input type="checkbox" id="menu1">
            <label for="menu1" class="mt-3 ms-5 menu">
              <span class="arrow"></span>Admin
            </label>
            <ul>
              <li>
                <input type="checkbox" id="menu1-1">
                <label for="menu1-1" class="mt-2 ms-5 menu">
                  <span class="arrow"></span>Department
                </label>
                <ul class="ms-5 mt-2 size">
                  <li *ngIf="userData.role === 'ROLE_IT' || userData.role === 'ROLE_SUPER_ADMIN'"><p>IT</p></li>
                  <li *ngIf="userData.role === 'ROLE_PRODUCTION' || userData.role === 'ROLE_SUPER_ADMIN'"><p>Production</p></li>
                  <li *ngIf="userData.role === 'ROLE_BPO' || userData.role === 'ROLE_SUPER_ADMIN'"><p>PDS</p></li>
                  <li *ngIf="userData.role === 'ROLE_COLLEGE' || userData.role === 'ROLE_SUPER_ADMIN'"><p>College</p></li>
                  <li *ngIf="userData.role === 'ROLE_SUPER_ADMIN'"><p>Others</p></li>
                </ul>
                
              </li>
            </ul>
          </li>
        </ul>
        
      </nav>
    </div>
    <!-- Form Column -->
  
  </div>
</div>

