<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      
      <img src="../../../assets/login4.jpg" class="imgdesign" style="width:100%; height:89vh;">
    </div>
   
    <div class="col-sm-6 d-flex align-items-center justify-content-center">
      
      <div class="box p-3 my-4" style="width: 50%;">
        <div class="d-flex justify-content-center">
          <img src="../../../assets/oasyslogo.png" style="width:35%; height:40%;">
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="admin()">
           
          <div class="form-group row">
            <div class="col-sm-8 position-relative mt-5">
              <i class="fa-solid fa-user user-icon"></i>
              <input
                type="text"
                formControlName="departmentname"
                class="form-control ms-5 input-field"
                placeholder="DepartmentName">
              <div class="error-msg">
                <div *ngIf="departmentname?.touched && departmentname?.invalid" class="text-danger "> 
                  <div *ngIf="departmentname?.errors?.['required']">Department Name is required.</div>
                  <div *ngIf="departmentname?.errors?.['minlength']">Department Name must be at least 3 characters long.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-8 position-relative mt-5">
              <i class="fa-solid fa-id-card"></i>
              <input
                type="text"
                formControlName="departmentcode"
                class="form-control ms-5 input-field"
                placeholder="DepartmentCode">
              <div class="error-msg">
                <div *ngIf="departmentcode?.touched && departmentcode?.invalid" class="text-danger ">
                  <div *ngIf="departmentcode?.errors?.['required']">Department Code is required.</div>
                  <div *ngIf="departmentcode?.errors?.['minlength']">Department Code must be at least 2 characters long.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-8 position-relative ms-1 mt-5">
              <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control ms-5 input-field" placeholder="Password">
              <svg id="i-eye" class="eye-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24"
                fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                (click)="togglePasswordVisibility()">
                <circle cx="17" cy="15" r="1" />
                <circle cx="16" cy="16" r="6" />
                <path d="M2 16 C2 16 7 6 16 6 25 6 30 16 30 16 30 16 25 26 16 26 7 26 2 16 2 16 Z" />
              </svg>
             
            </div>
            <div class="error-msg">
              <div *ngIf="passwordControl?.touched && passwordControl?.invalid" class="text-danger ">
                <div *ngIf="passwordControl?.errors?.['required']">Password is required.</div>
                <div *ngIf="passwordControl?.errors?.['minlength']">Password must be at least 6 characters long.</div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-4" >
            <p>Need an Account? <a (click)="signin()">Register</a></p>
          </div>
          <div class="d-flex justify-content-center mt-5 my-5">
            <button type="submit">
              <span class="transition"></span>
              <span class="gradient"></span>
              <span class="label" (click)="admin()">Login</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
