.login {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
  }
  
  .input-field {
    width: 100%;
    margin: 5px 0; 
    border: none;
    border-bottom: 2px solid rgb(21, 20, 20); 
    outline: none;
    box-shadow: none;
  }
  

  
  .box {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 80%; 
   
  }
 
.imgdesign{
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}


  /* login button design */
  button {
      font-size: 17px;
      padding: 1em 2.7em;
      font-weight: 500;
      background: rgb(88, 17, 112);
      background: linear-gradient(90deg, rgb(41, 16, 60) 0%, rgb(156, 98, 207) 100%);
      color: #000;
      font-weight: 900;
      border: none;
      position: relative;
      overflow: hidden;
      border-radius: 0.6em;
      box-shadow: 0 0 10px #7f7f7f;
      transition: 0.2s;
    }
    
    .label {
      position: relative;
      top: -1px;
    }
    
    .transition {
      transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      transition-duration: 400ms;
      background: #9387ba;
      border-radius: 9999px;
      width: 10em;
      height: 10em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    
    button:hover .transition {
      width: 0;
      height: 0;
    }
    
    button:hover {
      transition: 0.2s;
      color: #fff;
    }
    
    button:active {
      transform: scale(0.97);
    }


  /* eye */
  .position-relative {
    position: relative;
}

.eye-icon {
    position: absolute;
    bottom: 10px; /* Adjust this value to align the icon at the bottom */
    left: 25%;
    cursor: pointer;
    padding: 0; 
    top: 40%;
}

.eye-icon svg {
    font-size: 1.6em;
    color: #070707;
    width: 24px;  
    height: 24px; 
    display: block; 
    top:40%
}

/* eye user */
.position-relative {
  position: relative;
}

.user-icon ,
.fa-id-card{
  position: absolute;
  top: 40%;
  left: 24%; /* Adjust this value to position the icon near the start */
  transform: translateY(-50%);
  font-size: 1.2em;
  color: #070707;
}

.input-field {
  padding-left: 55px; /* Adjust this value to provide space for the icon */
}

.error-msg {
  text-align: center;
  font-size: 18px;
  position: relative;
 
}


.error-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
}