<!-- Navbar -->

<div class="d-flex border size background sticky-top  justify-content-between">
  <div class="d-flex ms-3 my-3">
    <img src="../../../assets/oasyslogo.png" class="rounded circle img-transparent" style="width: 65px;">
    <a class="nav-link ms-3 mt-3">GATE PASS</a>
  </div>
  <ul class="nav p-3">
    <li class="nav-item">
      <a class="nav-link">{{userData.userName}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">LOGOUT</a>
    </li>
  </ul>
</div>
  <!-- Navbar end -->