<app-header></app-header>

<div class="container-fluid mt-5 ">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-6">
        <div class="align-items-between mt-5">
          <div class="mt-auto">
            <h1>Gate Pass Management System For<br> Visitors, Materials & Vehicles & Staff.</h1>
            <h5  >We offer you with our digital gate pass software which enables you to manage
              and keep digital records of all the Material getting in and out of your premises
              in the most convenient manner.</h5>
          </div>
          <div class="ms-5 mt-5">
            <button class="btn btn-outline-success btn-lg w-20" (click)="login()" >Login</button>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class=" mt-5 d-flex justify-content-end">
          <img src="../../../assets/oasyslogo.png" style="height: 300px;width: 300px;">
        </div>
      </div>
      
      
      
      
    </div>
  </div>
</div>
