
.container {
    width: 800px;
    height: 700px;
    background: white;
    margin: 0 auto;
    box-shadow: 1px 18px 18px 17px rgb(173, 124, 215);
    border-radius: 50px;
  }
  
  .signup-content {
    padding: 75px 0;
    display: flex;
    align-items: center; }
  
  .signup-form, .signup-image {
    width: 50%;
    overflow: hidden;
  }
  
  .signup-form {
    padding: 0 30px; 
  }
  
  .register-form {
    width: 100%;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 40px; 
  }
  
  
  .form-group i {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    color: #0b0b0b;
    pointer-events: none;
  }
  
  .form-group input {
    width: calc(100% - 40px); 
    padding-left: 40px;
    border: none;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
  }
  
  input::placeholder {
    padding-left: 500%;
    padding-right: 300%;
  }
  
  input, select, textarea {
    outline: none;
    appearance: unset !important;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
    width: 100%;
    text-align: left;
    position: absolute;
    top: 100%; 
    left: 0;
  }
  
  .has-error input {
    border-color: rgb(6, 6, 6);
  }
  
  .form-button button {
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: rgb(88, 17, 112);
    background: linear-gradient(90deg, rgb(41, 16, 60) 0%, rgb(156, 98, 207) 100%);
    color: #000;
    font-weight: 900;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    box-shadow: 0 0 10px #7f7f7f;
    transition: 0.2s;
  }
  
  .form-button .label {
    position: relative;
    top: -1px;
  }
  
  .form-button .transition {
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    transition-duration: 400ms;
    background: #9387ba;
    border-radius: 9999px;
    width: 10em;
    height: 10em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-button button:hover .transition {
    width: 0;
    height: 0;
  }
  
  .form-button button:hover {
    transition: 0.2s;
    color: #fff;
  }
  
  .form-button button:active {
    transform: scale(0.97);
  }
  
  .signup-image {
    padding: 0 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  figure {
    margin: 0;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .signup-image-link {
    font-size: 14px;
    color: #222;
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  
  