
<section class="signup">
  
    <div class="container">
  
      <div class="signup-content">
        <div class="signup-form">
          <h2 class=" d-flex justify-content-center "> Register</h2> 
       
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" id="register-form" class="register-form" method="POST">
            <div class="form-group mt-5" [ngClass]="{'has-error': signupForm.get('name')?.invalid && signupForm.get('name')?.touched}">
              <i class="fa-solid fa-user"></i>
              <input id="name" type="text" formControlName="name" placeholder="Name">
              <div *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched" class="error-message">
              Valid Name is required .
              </div>
            </div>        
            
            <div class="form-group mt-5" [ngClass]="{'has-error': signupForm.get('email')?.invalid && signupForm.get('email')?.touched}">
              <i class="fa-solid fa-envelope"></i>
              <input type="email" formControlName="email" placeholder="Email" autocomplete="off">
              <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="error-message">
                Valid email is required & end with '@gmail.com'
              </div>
              
            </div>
            
            <div class="form-group mt-5"  [ngClass]="{'has-error': signupForm.get('mobileNo')?.invalid && signupForm.get('mobileNo')?.touched}">
              <i class="fa-solid fa-phone"></i>
              <input type="text" formControlName="mobileNo" placeholder="Mobile No">
              <div *ngIf="signupForm.get('mobileNo')?.invalid && signupForm.get('mobileNo')?.touched" class="error-message">
                Valid mobile number is required.
              </div>
            </div>
            
            <div class="form-group mt-5" [ngClass]="{'has-error': signupForm.get('department')?.invalid && signupForm.get('department')?.touched}">
              <i class="fa-solid fa-building-user"></i>
              <input type="text" formControlName="department" placeholder="Department Name">
              <div *ngIf="signupForm.get('department')?.invalid && signupForm.get('department')?.touched" class="error-message">
                Department name is required.
              </div>
            </div>
            <div class="form-group mt-5" [ngClass]="{'has-error': signupForm.get('department')?.invalid && signupForm.get('department')?.touched}">
              <i class="fa-solid fa-file-code"></i>
              <input type="text" formControlName="department" placeholder="Department Code">
              <div *ngIf="signupForm.get('department')?.invalid && signupForm.get('department')?.touched" class="error-message">
                Department code is required.
              </div>
            </div>
            
            <div class="form-group" [ngClass]="{'has-error': signupForm.get('password')?.invalid && signupForm.get('password')?.touched}">
              <i class="fa-solid fa-lock"></i>
              <input type="password" formControlName="password" placeholder="Password">
              <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="error-message">
                Password is required and must be at least 6 characters long.
              </div>
            </div>
            
            <div class="form-group form-button mt-5 ">
              <button type="submit">
                <span class="transition"></span>
                <span class="gradient"></span>
                <span class="label" (click)="adminpanel()">Register</span>
              </button>
            </div>
          </form>
        </div>
        
        <div class="signup-image">
          <figure>
            <img src="../../../assets/registration.avif" alt="sign up image">
          </figure>
        </div>
      </div>
    </div>
  </section>
  